<% if message.role.in?(%w[system user assistant]) %>
  <% if message.role == "system" %>
    <div id="message_<%= message.id %>" class="chat-message chat-message-system">
      <details class="chat-system-prompt">
        <summary>System prompt</summary>
        <div id="message_<%= message.id %>_content" class="chat-system-content"><%= message.content %></div>
      </details>
    </div>
  <% else %>
    <div id="message_<%= message.id %>" class="chat-message chat-message-<%= message.role %>">
      <div class="chat-bubble chat-bubble-<%= message.role %>">
        <div id="message_<%= message.id %>_content" class="chat-bubble-content"><% if message.role == "assistant" %><%= render_markdown(message.content) %><% else %><%= message.content %><% end %></div>
      </div>
    </div>
  <% end %>
<% end %>
